{% extends 'base.html' %}

{% block title %}Создание или редактирование блога{% endblock %}

{% block content %}
<h1>{% if post %}Редактировать{% else %}Создать{% endif %} блог</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label for="title" class="form-label">Заголовок</label>
        <input type="text" class="form-control" id="title" name="title" value="{% if post %}{{ post.title }}{% endif %}" required>
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">Содержимое</label>
        <textarea class="form-control" id="content" name="content" rows="5" required>{% if post %}{{ post.content }}{% endif %}</textarea>
    </div>
    <div class="mb-3">
        <label for="image" class="form-label">Превью (изображение)</label>
        <input type="file" class="form-control" id="image" name="image">
    </div>
    <button type="submit" class="btn btn-primary">{% if post %}Обновить{% else %}Создать{% endif %}</button>
</form>
<a href="{% url 'blog:blog_list' %}" class="btn btn-secondary">Назад к списку блогов</a>
{% endblock %}